# ==========================================================
# AWS Secrets Manager
# ==========================================================

{% for secret in required_secrets %}
secret|{{ secret }}|required
{% endfor %}

{% for secret in optional_secrets %}
secret|{{ secret }}|optional
{% endfor %}

# ==========================================================
# SSM Parameter Store
# ==========================================================

{% for parameter in required_parameters %}
parameter|{{ parameter }}|required
{% endfor %}